:root {
	--foreground-color: #000000;
	--background-color: #E8E8E8;
	--button-foreground-color: #000000;
	--button-background-color: #E8E8E8;
	--highlight-color: #8B008B;
}

body {
	font: 10px sans-serif;
	font-family: Arial,sans-serif;
	padding:0;
	margin:0;
	background-color : var(--background-color);
	overflow: hidden;
	color: var(--foreground-color);;
}

.scrollable{
	overflow-y:auto;
}
.bordered {
	border:2px solid black;
}
.hidden {
	display:none;
}
.title {
	padding:2px;
	font-size:40px;
}
.subTitle {
	padding:2px;
	font-size:30px;
}
.caption {
	padding:2px;
	padding-left:10px;
	font-size:18px;
}

.statsDiv{
	position:absolute;
	left:0;
	top:434px;
	width:424px;
	height:36px;
	margin:10px;
	font-size:30px;
	line-height: 36px
}
.imgButton{
	position:absolute;
	font-size:60px;
	width:40px;
	height:68px;
	z-index:1;
	top:200px;
	background-color:none;
	border:2px solid white;
	color: white;
	cursor:pointer;
	opacity:0.5;
}
.imgButton:hover{
	border:2px solid black;
	background-color:white;
	color:black;
}
#imageDiv{
	position:absolute;
	left:0;
	top:0;
	width:424px;
	height:424px;
	margin:10px;
	clip: rect(0px, 424px, 424px, 0px);
}
#imageDiv img{
	transition: 1s;
}